<nav class="navbar is-blue" role="navigation" aria-label="main navigation">
  <img src="https://i.redd.it/sugzxouaz6n01.png" class="garlic-rick">
  <div class="navbar-brand">
    <a href="/">
      AjoTracker
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <a href="/projects?date=<%= Date.today.strftime("%F") %>">
          Today
        </a>
      </div>

      <div class="navbar-item">
          <input id="bulmaDatepicker" class="input" type="date" value="<%= @date %>">
          <span class="icon">
            <i class="fas fa-calendar"></i>
          </span>
      </div>
    </div>
  </div>

</nav>



