<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      [logo]
    </a>
    <a class="navbar-item" href="/projects?date=<%= Date.today.strftime("%F") %>">
      Today
    </a>
    <% projects.each do |project| %>
    <a href="/projects/<%= project.id %>" class="navbar-item">
      <span class="color<%= project.hex %>"><%= project.name %></span>
    </a>
    <% end  %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown">
        <a class="navbar-link">
          @ryan
        </a>
      </div>
    </div>
  </div>

</nav>



